/*==============================
=            Footer            =
==============================*/
$footer-grid: (
    columns: 1,
    gutter: 5rem
);

.footer {
    width: 60rem;
    min-height: $headerHeight / 2;
    display: block;
    position: relative;
    // padding: 0 $padding;
    margin: 0 auto;
    padding: ($padding / 2) 0 ($padding / 3);
    bottom: 0;
    left: 0;
    font-size: $font-size-small;
    background-color: $fourth;
    color: $primary;
    z-index: 9000;

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__top {
            width: 100%;
            // min-height: $headerHeight / 2;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // padding: ($padding / 4) 0;
            // border-bottom: $border_normal solid $secondary;
        }

        &__bottom {
            width: 100%;
            min-height: $headerHeight / 1.5;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 0 1rem;
        }

        &__logo {
            width: $padding;
            height: auto;
            display: block;

            a {
                width: 100%;
                height: 100%;
                display: block;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }

        &__nav {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;
                // margin-bottom: 1rem;

                li {
                    margin-right: 0.5rem;

                    a {
                        font-size: $font-size-small;
                        color: $primary;
                    }

                    &:after {
                        content: "|";
                        margin-left: 0.5rem;
                    }

                    // &:first-child {
                    //     margin-left: 0;
                    // }

                    &:last-child {
                        margin-right: 0;

                        &:after {
                            display: none;
                        }
                    }

                    &:hover {

                        a {
                            color: $third;
                        }
                    }
                }
            }
        }

        &__link {
            width: 20%;
            // height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            ul {
                // width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    width: auto;
                    margin-right: 0.5rem;
                    // margin-bottom: 0.5rem;

                    a, img {
                        width: auto;
                        height: $headerHeight / 2;
                        display: block;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &-metrika {
                width: 88px;
                height: 31px;
                display: inline-block;
                background-color: $third;
                margin-right: $padding / 2;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__copyright {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 1rem;
        }

        &__author {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: right;

            span {
                width: auto;
                // height: $headerHeight / 3;
                font: {
                    //family: $font-family-base;
                    size: $font-size-small - 0.2;
                };
                line-height: 1;
                color: $primary;
                display: inline-block;
            }

            a {
                width: auto;
                height: $padding * 1.3;
                margin-left: 1rem;
                // margin-top: -0.5rem;
                display: inline-block;

                svg {
                    width: auto;
                    height: 100%;
                    transition: all 0.2s;

                    .redvus-logo__red {
                        fill: $third;
                    }

                    .redvus-logo__deepred {
                        fill: $primary;
                    }

                    &:hover {

                        .redvus-logo__red {
                            fill: $primary;
                        }
                    }
                }
            }
        }
    }

    &-short {
        width: calc(100% - (#{$padding} * 2) - (100% / 3));
        left: calc(100% / 3);

        .footer-container__top {
            flex-direction: column;
        }

        .footer-container__nav,
        .footer-container__link {
            width: 100%;
        }
    }

    @include grid-media($XSmall) {
        width: calc(100% - (#{$headerHeight} / 2));
        padding: 0 ($headerHeight / 4) $headerHeight;
        left: 0;

        &-container {

            // &__nav {
            //     // display: none;
            //     // visibility: hidden;

            //     // ul {
            //     //     flex-direction: column;

            //     //     li {

            //     //         &:after {
            //     //             display: none;
            //     //             visibility: hidden;
            //     //         }
            //     //     }
            //     // }
            // }

            // &__top {
            //     flex-direction: column;
            // }

            &__link {
                width: 50%;
            }

            &__bottom {
                flex-direction: column;
            }

            &__copyright,
            &__author {
                width: 100%;
                // margin-bottom: $headerHeight / 4;
                // text-align: right;
            }
        }

        &-short {
            width: calc(100% - (#{$headerHeight} / 2));
            padding: 0 ($headerHeight / 4) $headerHeight;
            left: 0;

            .footer-container__top {
                flex-direction: row;
            }

            .footer-container__nav,
            .footer-container__link {
                width: 50%;
            }
        }
    }

    @include grid-media($Small) {
        width: calc(100% - (#{$padding} * 2));
        padding: 0 $padding ($headerHeightMobile + $padding);

        &-container {

            &__nav {
                display: none;
                visibility: hidden;
            }
        }
    }
}

/*=====  End of Footer  ======*/
