/*=========================================
=                   Nav                   =
=========================================*/

.nav-main {
	width: 100%;
	height: $headerBottomHeight;
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	top: 0;
	right: 0;

	&__menu {
		// width: 100%;
		height: $headerBottomHeight;
		display: flex;
		flex-direction: row;

		li {
			height: 100%;
			display: block;
			position: relative;

			a {
				width: calc(100% - (#{$padding} * 2));
				height: $headerBottomHeight;
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: $heading-font-light;
				font-size: $font-size-large;
				color: $fourth;
				padding: 0 $padding;

				&.submenu-open {
					// background-color: $colorCategoryTitle;
					// border-top: 0.15rem solid $filterBorderColor;

					.sub-menu {


						li {

							a {
								font-size: $font-size-large - 0.2;
							}

							// a.active {
							//     //color: $fourth;
							// }
						}
					}
				}
			}

			// &:last-child {
			// 	padding-right: 0;
			// }

			&.active {
				background-color: $navLiBackgroundActive;

				// a {
				// 	color: $fourth;
				// }
			}

			// &:last-child {

			// 	a {
			// 		padding-right: 0;
			// 	}
			// }

			&:hover {

				&.active {

					a {
						color: $fourth;
					}
				}

				a {
					color: $third;
				}
			}
		}

		.item-has-children {

			> a {

				svg#navCross {
					width: 0.5rem;
					height: 0.5rem;
					display: block;
					float: left;
					position: relative;
					margin-right: $padding / 5;
					// transform: translateY(100%);

					#navCrossVert {
						fill: none;
						stroke: $fourth;
						stroke-width: 0.2rem;
						transform-origin: 50% 50%;
						transition: transform .2s;
					}

					#navCrossHorz {
						fill: none;
						stroke: $fourth;
						stroke-width: 0.2rem;
						transform-origin: 50% 50%;
						transition: transform .2s;
					}
				}
			}

			ul.submenu {
				min-width: $padding * 8;
				position: absolute;
				// top: $headerHeight / 2;
				// margin-left: -$padding;
				background-color: $primary;
				box-shadow: 0 0.1rem 0.1rem rgba($third, 0.2);
				transition: all $base-duration;
				display: none;
				opacity: 0;
				right: 0;
				z-index: 9996;

				li {
					width: 100%;
					// height: $headerHeight / 2;
					display: flex;
					align-items: center;
					padding: 0;
					position: relative;
					cursor: pointer;
					transition: all $base-duration;

					ul.submenu {
						transform: translateX(100%);
					}

					a {
						// width: calc(100% - (#{$padding} * 2));
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: flex-end;
						position: relative;
						padding: ($padding / 2) $padding;
						color: $fourth;
						text-align: right;
					}

					&.active {
						background-color: $navLiBackgroundActive;

						a {
							color: $fourth;
						}
					}

					&:hover {
						background-color: $navLiBackgroundActive;

						a {
							color: $fourth;
						}
					}
				}
			}

			&:hover {

				ul.submenu {
					display: block;
					color: $fourth;
					opacity: 1;
				}

				> a {

					svg#navCross {

						#navCrossVert {
							stroke: $third;
							transform: rotate(90deg);
						}

						#navCrossHorz {
							stroke: $third;
							transform: rotate(360deg);
						}
					}
				}
			}
		}
	}

	&__mobile {

		li {
			margin: ($padding / 3) 0;

			a {
				font-family: $heading-font;
				font-size: $font-size-base;
				text-transform: uppercase;
			}

			&.active {

				a {
					color: $secondary;
				}
			}

			&.item-has-children {
				margin-bottom: $padding;

				a {
					color: $third;
				}

				.submenu {
					margin-top: -($padding / 2);

					li {

						a {
							color: $primary;
						}
					}
				}

				&:last-child {
					margin-top: $padding;
					margin-bottom: 0;
				}
			}
		}
	}
}

/*============  End of Nav  =============*/