/*=============================================
=                   Section                   =
=============================================*/

.section {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;

	&-intro {
		height: 100vh;
		min-height: inherit;
		align-items: center;
		overflow: hidden;

		&__adress {
			margin-top: $padding * 3;
		}

		&__logo {
			width: 50vmax;
			margin: ($padding * 2) 0;
		}

		&__list {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: ($padding * 2) 0;

			li {

				a {
					display: block;
					font-size: $font-size-h2;
					text-align: center;
					text-transform: uppercase;
					transition: all $base-duration;
				}

				&:hover {

					a {
						color: $third;
						letter-spacing: 0.2rem;
					}
				}
			}
		}

		&__line {
			width: auto;
			height: 30vh;
			// position: absolute;
			// bottom: -5vh;
			// margin-top: $padding * 3;

			svg {

				line {
					fill: none;
					stroke: $primary;
					stroke-linecap: round;
					stroke-width: 6;
					stroke-dasharray: 1 12;
				}
			}
		}
	}
}

/*============  End of Section  =============*/