/*=============================================
=                   Section                   =
=============================================*/

.section {
	display: block;
	position: relative;

	&-wrapper {
		width: $wrapperWidth;
		margin: 0 auto;

		@include grid-media($Medium) {
			width: $wrapperWidthPad;
		}

		@include grid-media($XSmall) {
			width: $wrapperWidthMobile;
		}
	}

	&__title {
		display: inline-block;
		margin-bottom: $padding * 3;

		h2 {
			font-size: $font-size-h1;
			color: $primary;
		}

		a {

			&:hover {

				h2 {
					color: $third;
				}
			}
		}

		@include grid-media($XSmall) {
			margin-top: $padding * 3;
			margin-bottom: $padding;
		}
	}

	&-slider {
		width: 100%;
		height: calc(100vh - #{$headerHeight});
		top: 0;
		left: 0;
		overflow: hidden;
		z-index: 1;

		&__symbol {
			width: 40%;
			height: auto;
			display: block;
			position: absolute;
			left: 0;
			top: 40%;
			transform: translateY(-50%);
			z-index: 10;

			svg {
				width: 100%;
				height: auto;
				display: block;
				fill: rgba($primary, 0.4);
			}
		}

		@include grid-media($XSmall) {
			height: calc(100vh - (#{$headerMobileTopHeight} * 2));
		}
	}

	&-top {
		width: 100%;
		height: $sectionTopHeight;
		top: 0;
		left: 0;
		margin-bottom: $padding * 6;

		&__image {
			width: 100%;
			height: 100%;
			display: block;
			position: relative;
			overflow: hidden;
			z-index: 1;

			img {
				width: 100%;
				height: 130%;
				display: block;
				position: absolute;
				top: -15%;
				object-position: center;
				object-fit: cover;
			}

		}

		&__mask {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba($secondary, 0.2);
			z-index: 2;
		}

		&__title {
			@extend %wrapperWidth;
			display: flex;
			justify-content: center;
			position: absolute;
			left: 50%;
			bottom: -0.02rem;
			background-color: $five;
			transform: translate(-50%, 0);
			z-index: 3;
		}

		&__crumbs {
			width: $wrapperWidth;
			height: $padding * 3;
			display: block;
			position: relative;
			margin: 0 auto;

			ul {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				justify-content: center;

				li {

					span {
						color: darken($third, 10%);

						a {

							span {
								color: $third;
							}
						}
					}

					&:hover {

						span {

							a {

								span {
									color: $secondary;
								}
							}
						}
					}
				}
			}
		}

		@include grid-media($XSmall) {
			height: $sectionTopHeightMobile;

			&__crumbs {
				width: $wrapperWidthMobile;
				// height: inherit;
				min-height: $padding * 3;
			}

			&__title {
				width: $wrapperWidthMobile;
				text-align: center;
			}
		}
	}

	&-services {
		@extend %wrapperWidth;
		min-height: 50vh;
		top: -($padding * 6);
		margin: 0 auto;
		// background-color: $five;
		z-index: 2;

		&__list {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			// top: -13vh;
			position: relative;

			a {
				width: calc(#{$sectionServicesLiWidth} - #{$border_thin});
				height: $sectionServicesLiHeight;
				display: block;
				position: relative;
				border-left: $border_thin solid $five;
				border-bottom: $border_thin solid $five;

				p {
					color: $secondary;
				}

				&:hover {

					li {
						background-color: $cardHoverBackground;
					}

					.section-services__list-arrow {
						transform: translateX(0);
					}

					// .section-services__list-icon {
					// 	transform: translateX(30%);
					// }
				}

				// &:nth-child(3) {
				// 	width: $sectionServicesLiWidth;
				// 	border-left: none;
				// }

				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6) {
					border-bottom: none;
				}
			}

			li {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				position: relative;
				background-color: $fourth;
				// padding: 0 $padding;
				transition: $base-duration;
				overflow: hidden;
			}

			&-top {
				width: calc(100% - (#{$padding} * 2));
				height: calc((#{$padding} * 6));
				display: flex;
				align-items: center;
				position: relative;
				border-right: $border_bold solid $primary;
				padding-left: $padding;
				padding-right: $padding;

				a {

					&:hover {

						h3 {
							color: $third;
						}
					}
				}
			}

			&-title {
				width: calc(100% - (#{$padding} * 6));
				height: calc((#{$padding} * 6) - #{$padding});
				display: flex;
				align-items: center;
				position: relative;
			}

			&-icon {
				width: calc((#{$padding} * 6) - #{$padding});
				height: calc((#{$padding} * 6) - #{$padding});
				display: flex;
				position: relative;
				align-items: center;
				justify-content: center;
				padding: $padding / 2;
				transition: transform $base-duration;

				img {
					width: 100%;
					height: 100%;
					display: block;
					position: relative;
					object-fit: cover;
				}
			}

			&-description {
				width: calc(100% - ((#{$padding}) * 2));
				height: calc(#{$padding} * 6);
				display: block;
				position: relative;
				padding: 0 $padding;
			}

			&-image {
				width: calc(100% - ((#{$padding}) * 2));
				height: calc(#{$sectionServicesLiHeight} - (#{$padding} * 12) - (#{$padding}) - #{$padding});
				display: block;
				position: relative;
				margin: $padding $padding $padding $padding;
				overflow: hidden;

				img {
					width: auto;
					height: 100%;
					display: block;
					object-position: top center;
					object-fit: cover;
					background-color: $secondary;
				}
			}

			&-arrow {
				width: $padding;
				height: calc((#{$padding} * 6));
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				right: 0;
				background-color: $primary;
				z-index: 10;
				transition: transform $base-duration;
				transform: translateX(100%);

				i {
					font-size: $font-size-base;
					color: $fourth;
				}
			}
		}

		@include grid-media($Medium) {

			&__list {

				a {
					width: calc(#{$sectionServicesLiWidthPad} - #{$border_thin});
				}
			}
		}

		@include grid-media($XSmall) {
			top: 0;
			padding: $padding;

			&__list {
				flex-direction: column;

				a {
					width: 100%;
				}

				li {
					width: 100%;
					border-left: none;
					border-bottom: none;
					margin-bottom: $padding;
				}
			}
		}
	}

	&-news {
		@extend %wrapperWidth;
		min-height: 70vh;
		margin: 0 auto ($padding * 3);
		// background-color: $five;
		z-index: 2;

		&__list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			position: relative;

			li {
				width: calc(#{$sectionNewsLiWidth} - #{$padding});
				height: $sectionNewsLiHeight;
				display: block;
				position: relative;
				margin-right: $padding;
				margin-bottom: $padding * 2;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row;
					position: relative;
					background-color: $fourth;
					cursor: pointer;
					transition: $base-duration;
					color: $secondary;
					overflow: hidden;
				}

				&:nth-child(2n) {
					margin-right: 0;
					margin-left: $padding;
				}

				&:hover {

					a {
						background-color: $cardHoverBackground;
					}

					.section-news__list-arrow {
						transform: translateX(0);
					}
				}
			}

			&-text {
				width: calc(100% - (#{$wrapperWidth} / 6) - (#{$padding} * 2.5));
				height: $sectionNewsLiHeight;
				display: flex;
				flex-direction: column;
				position: relative;
				padding: 0 ($padding * 1.5) 0 $padding;
			}

			&-image {
				width: $wrapperWidth / 6;
				height: $sectionNewsLiHeight;
				display: block;
				position: relative;
				top: 0;
				left: 0;
				background-color: $secondary;

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
					object-position: center;
				}
			}

			&-date {
				width: 100%;
				height: calc((#{$wrapperWidth} / 6) / 4);
				display: flex;
				position: relative;
				align-items: center;
				justify-content: flex-start;
				text-align: left;
				padding-top: $padding / 3;

				span {
					font-family: $heading-font-light;
					font-size: $font-size-h4;
					color: $primary;
				}
			}

			&-title {
				width: 100%;
				height: calc(#{$sectionNewsLiHeight} / 4);
				display: flex;
				position: relative;
				align-items: center;
				justify-content: flex-start;
				text-align: left;
				top: 0;
				margin-bottom: $padding / 2;
			}

			&-description {
				width: 100%;
				height: calc((#{$sectionNewsLiHeight}) - #{$padding} - (#{$padding} / 2) - (#{$padding} / 3));
				display: block;
				position: relative;
				padding-bottom: $padding;
				overflow: hidden;

				p {
					margin: 0;
				}
			}

			&-arrow {
				width: $padding * 2;
				height: $sectionNewsLiHeight;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				right: 0;
				background-color: $primary;
				z-index: 10;
				transition: transform $base-duration;
				transform: translateX(calc(100% - #{$border_bold}));

				i {
					font-size: $font-size-large + 0.2;
					color: $fourth;
				}
			}
		}

		&__text {
			width: 100%;
			display: flex;
			flex-direction: row;
			margin-bottom: $padding * 3;

			&-date {
				width: calc((#{$padding} * 11.25) - #{$padding});
				display: flex;
				align-items: flex-start;
				justify-content: flex-end;
				position: relative;
				border-right: $border_bold solid $primary;
				padding-right: $padding;
				margin-right: $padding * 2;
				font-family: $heading-font-light;
				font-size: $font-size-base + 0.5;
				color: $primary;
			}

			&-content {
				width: calc(100% - (#{$padding} * 11.25) - (#{$padding} * 2));
				display: block;
				position: relative;
				// margin-left: $padding * 2;

				p {
					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

				ul {
					padding-left: $padding;

					li {
						list-style: disc;
						margin-right: $padding;
					}
				}
			}
		}

		&__gallery {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			li {
				width: calc(50% - #{$padding});
				height: auto;
				margin-right: $padding;
				margin-bottom: $padding * 2;
				overflow: hidden;

				&:nth-child(2n) {
					margin-right: 0;
					margin-left: $padding;
				}

				picture {
					width: 100%;
					height: 100%;
					display: block;
					position: relative;

					img {
						width: 100%;
						height: 100%;
						display: block;
						position: relative;
						object-fit: cover;
						object-position: center;
					}
				}
			}
		}

		@include grid-media($Medium) {


			&__list {

				li {
					width: calc(#{$sectionNewsLiWidthPad} - (#{$padding} / 2));
					height: inherit;
					margin-right: $padding / 2;
					margin-bottom: $padding;

					&:nth-child(2n) {
						margin-right: 0;
						margin-left: $padding / 2;
					}
				}

				&-image {
					height: inherit;
				}

				&-text {
					width: calc(100% - (#{$padding} * 2));
					height: inherit;
					padding: $padding;
				}

				&-description {
					height: inherit;
				}

				&-arrow {
					height: 100%;
				}
			}
		}

		@include grid-media($XSmall) {
			width: 100%;
			padding: 0;

			&__list {

				li {
					width: 100%;
					height: inherit;
					margin-right: 0;
					margin-bottom: $padding;

					a {
						flex-direction: column;
						margin-right: 0;
						margin-bottom: $padding;
					}

					&:nth-child(2n) {
						width: 100%;
						height: inherit;
						margin-left: 0;
					}
				}

				&-image {
					width: 100%;
				}

				&-text {
					width: calc(100% - (#{$padding} * 2));
					height: inherit;
					padding: $padding;
				}

				// &-title {
				// 	height: inherit;
				// }

				&-description {
					height: inherit;
				}
			}

			&__text {
				flex-direction: column;

				&-date {
					width: 100%;
					justify-content: flex-start;
					border-right: none;
					border-bottom: $border_normal solid $primary;
					padding-right: 0;
					padding-bottom: $padding;
					margin-right: 0;
					margin-bottom: $padding * 2;
				}

				&-content {
					width: 100%;
				}
			}

			&__gallery {

				li {
					width: 100%;
					margin-right: 0;
					margin-bottom: $padding;

					&:nth-child(2n) {
						margin-right: 0;
						margin-left: 0;
					}
				}
			}
		}
	}

	&-partners {
		width: 100%;
		min-height: 30vh;
		margin: 0 auto;
		padding: ($padding * 2) 0;
		background-color: $fourth;
		z-index: 2;

		&__list {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			li {
				width: calc((#{$wrapperWidth} / 6) - (#{$padding} * 2));
				height: calc((#{$wrapperWidth} / 12) - #{$padding});
				display: block;
				position: relative;
				margin-right: $padding;
				margin-bottom: $padding;
				padding: $padding / 2;

				&:nth-child(6n) {
					width: calc((#{$wrapperWidth} / 6));
					margin-right: 0;
				}

				picture {
					width: 100%;
					height: 100%;
					display: block;
				}

				img {
					width: 100%;
					height: 100%;
					display: block;
					background-color: $secondary;
					object-position: center;
					object-fit: cover;
				}
			}
		}

		@include grid-media($XSmall) {

			&__list {

				a {
					width: calc((100% / 2) - (#{$padding} / 2));
					margin-right: $padding / 2;

					li {
						width: calc(100% - #{$padding});
						padding: $padding / 2;
						margin-right: 0;

						&:nth-child(6n) {
							width: calc((100% / 2));
							margin-right: 0;
						}
					}

					&:nth-child(2n) {
						width: calc((100% / 2) - (#{$padding} / 2));
						margin-right: 0;
						margin-left: $padding / 2;
					}
				}
			}
		}
	}

	&-content {
		min-height: 80vh;
		margin-bottom: $padding * 9;

		&__description {
			width: 100%;
			min-height: 50vh;
			display: flex;
			flex-direction: row;
			position: relative;
			margin: ($padding * 6) 0 ($padding * 3);
		}

		&__gallery {
			width: calc(((#{$wrapperWidth} * 2) / 3) - (#{$padding} / 1.3));
			min-height: 50vh;
			display: block;
			position: relative;

			&-thumbs {
				width: 100%;
				display: block;
				position: relative;
			}

			a {
				@include rowMachine(3, ($padding * 2));
				// background-color: $fourth;
			}

			&-image {
				width: 100%;
				height: calc(#{$wrapperWidth} / 3);
				display: block;
				position: relative;
				top: 0;
				left: 0;

				&--single {
					width: 100%;
					height: calc((#{$wrapperWidth} / 3) - (#{$padding} / 1.3) * 1.3);
					display: block;
					position: relative;
				}

				&--certificate {
					width: 100%;
					height: inherit;
					display: block;
					position: relative;
				}

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: contain;
					object-position: center;
				}
			}

			&-nav {
				width: 3rem;
				height: 3rem;
				position: absolute;
				top: 40%;
				left: 0;
				transform: translateY(-50%);

				// @include grid-media($Small) {
				//     width: $padding * 6;
				//     height: $padding * 3;
				//     left: 0;
				//     bottom: 0.9rem;
				//     transform: translateX(-100%);
				// }
			}

			.ms-nav-prev {
				@extend %ms-nav-arrow;
				left: 0;
				right: auto;
				// bottom: 0;
				// margin-left: -(4rem + $border_normal);

				// &::after {
				//     @extend %arrow-after;
				//     transform-origin: center right;
				// }

				&:hover {
					opacity: 1;

					svg {
						transform: translateX(-5px);
					}

					// &::after {
					//     transform: scaleX(1);
					//     transition-delay: 0s;
					// }
				}

				// @include grid-media($Small) {
				// 	margin-left: -(($padding * 3) + $border_thin);
				// }
			}

			.ms-nav-next {
				@extend %ms-nav-arrow;
				right: 0;
				left: auto;
				// margin-left: -$border_normal;

				// &::after {
				//     @extend %arrow-after;
				//     transform-origin: center left;
				// }

				&:hover {
					opacity: 1;

					svg {
						transform: translateX(5px);
					}

					// &::after {
					//     transform: scaleX(1);
					//     transition-delay: 0s;
					// }
				}
			}

			// &--light {
			// 	visibility: visible;

			// 	.ms-nav-prev,
			// 	.ms-nav-next {
			// 		border-color: $elementlightBackground;

			// 		svg {
			// 			stroke: $elementlightBackground;
			// 		}
			// 	}
			// }

			&--page {
				visibility: visible;

				.ms-nav-prev,
				.ms-nav-next {
					opacity: 0.5;
				}
			}

			&--single {
				.ms-nav-prev,
				.ms-nav-next {
					visibility: hidden;
				}
			}

			&__picture {
				width: 70%;
				height: calc(((100vh - #{$headerHeight}) / 10) * 5.5);
				display: flex;
				align-items: flex-end;
				justify-content: center;
				position: relative;
				padding: 0 15%;

				picture {
					width: 100%;
					height: 100%;
					display: block;
					// border-bottom: $border_normal solid $fourth;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-position: center bottom;
						object-fit: contain;
					}

					&:after {
						content: '';
						width: 75%;
						height: 1rem;
						display: block;
						position: absolute;
						bottom: -0.5rem;
						left: 50%;
						transform: translateX(-50%);
						background-image: url('images/waveCategoryWhite.png');
						background-repeat: repeat-x;
						opacity: 1;
						z-index: 0;
					}
				}
			}

			&__info {
				width: 100%;
				height: calc((((100vh - #{$headerHeight}) / 10) * 4.5) - 2rem);
				display: block;
				position: relative;
				padding: 2rem 0 0;
			}

			&__title {
				display: flex;
				flex-direction: row;
				align-items: center;

				i {
					font-size: $font-size-h2;
					margin-left: 1rem;
					color: $fourth;
					transition: transform 0.3s;
				}

				&:hover {

					i {
						transform: translateX(30%);
					}
				}
			}

			&__text {
				width: 60%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				margin: 0 auto;
				text-align: center;

				&--light {
					color: $primary;

					h2, i {
						color: $primary;
					}

					.slider-top__link {
						color: $primary;
						border-color: $primary;

						&:after {
							background-color: $primary;
						}

						&:hover {
							color: $fourth;
						}
					}
				}
			}

			&__link {
				width: 10rem;
				height: 3rem;
				// padding: 0.5rem 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				border: $border_normal solid $fourth;
				// @include border-top-radius(1.5rem);
				// @include border-bottom-radius(1.5rem);
				background-color: transparent;
				color: $fourth;
				margin-top: 1rem;
				overflow: hidden;
				background-clip: border-box;
				transition: all 0.3s cubic-bezier(.4,0,.2,1) 75ms !important;

				&:after {
					content: '';
					//width: 100%;
					//height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					background-color: $fourth;
					z-index: -1;
					box-sizing: border-box;
					transition: transform 0.3s cubic-bezier(.4,0,.2,1) 75ms !important;
					transform: scaleX(0);
					transform-origin: 0 0;
				}

				&:hover {
					// background-color: $fourth;
					color: $primary;

					&:after {
						transform: scaleX(1);
						transition-delay: 0s;
					}
				}
			}
		}

		&__introtext {
			width: calc((#{$wrapperWidth} / 3) - (#{$padding} * 2));
			display: block;
			position: relative;
			margin-left: $padding * 2;
			// columns: 2;
			// column-gap: $padding * 2;

			p {
				margin: 0;
			}
		}

		&__card {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			position: relative;

			li {
				@include rowMachine(3, ($padding * 2));
				background-color: $fourth;
			}

			&-image {
				width: 100%;
				height: calc(#{$wrapperWidth} / 3);
				display: block;
				position: relative;
				top: 0;
				left: 0;

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
					object-position: center;
				}
			}


			&-title {
				width: calc(100% - (#{$padding} * 2));
				height: calc(#{$padding} * 3);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				padding: ($padding * 2) $padding;
			}

			&-description {
				width: calc(100% - (#{$padding} * 2));
				min-height: $padding;
				display: flex;
				flex-direction: column;
				padding: $padding;
			}

			&-line {
				width: 100%;
				height: calc(#{$padding} * 2);
				display: flex;
				justify-content: space-between;

				.line-title {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}

				.line-value {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					font-family: $heading-font;
					font-size: $font-size-large + 0.2;
					color: $primary;
				}
			}

			&-button {
				width: calc(100% - (#{$padding * 2}));
				height: calc(#{$padding} * 3);
				display: flex;
				align-items: center;
				justify-content: center;
				padding: $padding;
				background-color: $primary;
				color: $fourth;
				transition: $base-duration;
				font-family: $heading-font;
				font-size: $font-size-large + 0.2;
				text-align: center;

				&:hover {
					background-color: $navLiBackgroundActive;
				}
			}

			/* Card Full (Auto)
			-------------------------------------------------- */
			&full {
				width: 100%;

				li {
					width: 100%;
					display: flex;
					flex-direction: row;
					position: relative;
					background-color: $fourth;
					margin-bottom: $padding * 2;
				}

				&-title {
					width: calc(100% - (#{$padding} * 2));
					height: calc(#{$padding} * 3);
					display: flex;
					align-items: center;
					justify-content: flex-start;
					position: relative;
					padding: $padding;
				}

				&-block {
					width: 90%;
					display: flex;
					flex-direction: column;
					position: relative;
					padding: $padding 0;
				}

				&-image {
					width: 100%;

					img {
						width: 100%;
						height: auto;
						display: block;
					}
				}

				&-description {
					width: 10%;
					// height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: relative;
					background-color: $cardHoverBackground;

					.line-value {
						width: 100%;
						height: calc(50% - (#{$padding} / 2));
						display: flex;
						align-items: flex-end;
						justify-content: center;
						padding-bottom: $padding / 2;
						font-family: $heading-font;
						font-size: $font-size-h1 + 0.3;
						color: $primary;
						line-height: 0.5;
					}

					.line-text {
						width: 100%;
						height: calc(50% - (#{$padding} / 2));
						display: flex;
						align-items: flex-start;
						justify-content: center;
						padding-top: $padding / 2;
						font-family: $heading-font;
						font-size: $font-size-h2;
						color: $primary;
						line-height: 0.5;
					}
				}
			}
		}

		&__map {
			width: 100%;
			height: 30vh;
			display: block;
			position: relative;
			top: -($padding * 9);
			left: 0;
			background-color: $five;
			margin-bottom: $padding * 9;
			z-index: 10;
		}

		&__block {
			width: 100%;
			min-height: 50vh;
			display: flex;
			flex-direction: row;
			margin: 0 0 ($padding * 6);
		}

		&__form {
			width: 50%;
			min-height: 20vh;
			display: block;
			position: relative;
		}

		&__contact {
			width: calc(50% - (#{$padding} * 3));
			display: block;
			position: relative;
			margin-left: $padding * 3;
			// columns: 2;
			// column-gap: $padding * 2;

			p {
				margin: 0;
			}

			ul {

				li {
					width: 100%;
					margin-bottom: $padding * 3;

					.specialist {

						&-family {
							width: 100%;
							min-height: $padding * 3;
							text-align: left;
							display: flex;
							justify-content: center;
							flex-direction: column;
							// border-left: $border_normal solid $primary;
							// padding-left: $padding;

							a {
								width: 100%;
								height: $padding * 2;
								display: flex;
								//justify-content: center;
								flex-direction: row;
								transition: $base-duration;

								h3 {
									font-size: $font-size-h3;
									text-transform: capitalize;
									color: $primary;
									margin: 0;
									display: inline-block;
									margin-right: $padding;
									transition: color 0.2s;
								}

								i {
									font-size: $font-size-large;
									margin-top: $padding * 0.2;
								}

								&:hover {

									h3, i {
										color: $third;
									}
								}
							}

							&__phone {
								font-family: $heading-font;
								font-size: $font-size-h3;
								text-transform: capitalize;
								color: $primary;
								display: inline-block;
								margin: ($padding / 2) 0 0;
								transition: color $base-duration;

								&:hover {
									color: $third;
								}
							}

							&__division {
								text-align: left;
								// font-size: $font-size-small;
							}
						}

						&__link {
							width: 100%;
							height: $padding * 2;
							margin: 0 auto;
							text-align: center;
							position: relative;

							a {
								width: 24px;
								min-height: 24px;
								display: inline-block;
								top: 50%;
								left: 50%;
								margin-top: -12px;
								margin-left: -12px;
								position: absolute;

								svg {
									width: 24px;
									height: 24px;
									fill: $primary;
									transition: 0.2s;

									&:hover {
										fill: $third;
									}
								}

								&:first-child {
									margin-right: 0.5em;
								}
							}
						}
					}
				}
			}
		}

		&__project {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			position: relative;

			a {
				@include rowMachine(3, ($padding * 2));
				// height: calc(#{$wrapperWidth} / 3);
				position: relative;
				border-bottom: $border-normal solid $primary;

				&:hover {

					.section-content__project-image {

						&:after {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}

			&-image {
				width: 100%;
				// height: calc(#{$wrapperWidth} / 3);
				display: block;
				position: relative;
				top: 0;
				left: 0;
				z-index: 1;

				&:after {
					content: "";
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					background-color: rgba($secondary, 0.2);
					visibility: hidden;
					opacity: 0;
					z-index: 2;
					transition: all $base-duration;
				}

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
					object-position: center;
				}
			}

			&-text {
				// height: 9.5rem;
				// border-top: $border-normal solid $primary;
				// border-bottom: $border-normal solid $primary;

				p {
					color: $body-font-color;
				}
			}

			&--append {
				margin-top: $padding * 6;

				a {
					border-bottom: none;
				}
			}
		}

		&__text {

			h4 {
				margin-top: $padding * 2;
			}
		}

		&__structure {
			width: 100%;
			display: flex;
			flex-direction: row;
			margin-top: $padding * 3;

			&-main {
				width: $padding * 11.25;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $cardHoverBackground;
				position: relative;
			}

			&-logo {
				width: 80%;
				height: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;

				span {
					display: block;
					position: fixed;
					font-size: $font-size-h1 + 1.2;
					font-family: $heading-font;
					text-transform: uppercase;
					margin-left: $padding;
					transform: rotate(-90deg);
				}
			}

			&-block {
				width: calc(100% - (#{$padding} * 11.25) - (#{$padding} * 6));
				display: flex;
				flex-direction: column;
				position: relative;
				margin-left: $padding * 6;
			}

			&-part {
				width: calc(100% - #{$border-normal});
				display: flex;
				flex-direction: row;
				align-items: center;
				border: $border-normal solid $cardHoverBackground;
				margin-bottom: $padding * 2;
				position: relative;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&-image {
				width: $structureLogoWidth;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $cardHoverBackground;

				img {
					width: 100%;
					height: 100%;
					display: block;
					position: relative;
					object-position: center;
					object-fit: cover;
				}
			}

			&-description {
				width: calc(100% - #{$structureLogoWidth} - (#{$padding} * 2));
				display: flex;
				flex-direction: column;
				position: relative;
				padding: $padding;
			}

			&-title {
				margin-bottom: $padding / 2;
			}

			&-line {
				width: $padding * 6;
				height: $border-normal;
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(calc(-100% - #{$border-normal}), -50%);
				background-color: $cardHoverBackground;
			}

			&-arrow {
				width: 0;
				height: 0;
				border-top: ($padding) solid transparent;
				border-left: ($padding * 2) solid $cardHoverBackground;
				border-bottom: ($padding) solid transparent;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(-100%, -50%);
			}
		}

		@include grid-media($XSmall) {

			&__project {
				flex-direction: column;

				a {
					@include rowMachine(1, ($padding));
				}
			}

			&__description {
				flex-direction: column;
			}

			&__gallery {
				width: 100%;
				height: inherit;
				padding-top: 1rem;

				// &:after {
				// 	width: 90%;
				// 	display: none;
				// 	visibility: hidden;
				// }

				&__info {
					min-height: 50vh;
					height: initial;
					padding: 0;
				}

				&__text {
					width: calc(100% - 2rem);
					margin: 1rem 1rem $headerHeightMobile;
				}

				&__nav {
					display: none;
					visibility: hidden;
				}
			}

			&__introtext {
				width: 100%;
				margin-left: 0;
			}

			&__block {
				flex-direction: column-reverse;
			}

			&__form {
				width: 100%;
			}

			&__contact {
				width: 100%;
				margin-left: 0;
			}

			&__map {
				margin-bottom: $padding * 3;
			}

			&__structure {
				flex-direction: column;

				&-main {
					width: 100%;
					// margin-bottom: $padding * 2;
				}

				&-logo {
					width: calc(100% - (#{$padding} * 2));
					height: inherit;
					min-height: $padding * 3;
					padding: $padding $padding ($padding - 0.6) $padding;
					text-align: center;

					span {
						font-size: calc(#{$padding} + 2vmax);
						position: relative;
						margin-left: 0;
						transform: rotate(0);
					}
				}

				&-block {
					width: 100%;
					margin-left: 0;
				}

				&-part {
					width: calc(100% - (#{$border-normal} * 1.5));
					flex-direction: column;
					margin-bottom: $padding;
				}

				&-image {
					width: 100%;
					height: 30%;
				}

				&-description {
					width: calc(100% - (#{$padding} * 2));
				}

				&-line,
				&-arrow {
					display: none;
					visibility: hidden;
				}
			}
		}
	}
}

/*============  End of Section  =============*/